# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#MSVS
*.user
*.ncb
*.suo
*.vcproj.*
*.sdf
*.opensdf
ipch/*
build/*
intermediate/*
